/* UNIVERSAL */

/* REPRESENTS THE ENTIRE WEBPAGE */
body {
    
    background-color: #f0ead6;
    margin: 0;
    padding: 0;
    
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    font-size:12pt;
    color: #404040;
}

/* REPRESENTS THE SIDE NAVIGATION BAR */
.vertical_navigation_bar {
    
    width: 170px;
    background-color: #e0d0b9;
    height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    
}

/* REPRESENTS EACH LINK WITHIN THE NAVIGATION BAR */
.vertical_navigation_bar a {

    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;

}

/* REPRESENTS THE TITLE OF THE WEBPAGE CONTAINED IN THE NAVBAR */

#vertical_navigation_title {
    
    display: block;
    color: #000;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 8px;
    margin: 0;
    
}

/* REPRESENTS THE HOVER PROPERTY OF EACH LINK */

.vertical_navigation_bar a:hover {
    
    color: #FFFFFF;
    background-color: #857762;
    
}

/* REPRESENTS THE ACTIVE PROPERTY OF EACH LINK */

#active {
    
    color: #FFFFFF;
    background-color: #857762;
    
}

/* REPRESENTS THE CIRCULAR QUICKLINKS TO EXTERNAL SITES */
/* #quicklink1 REPRESENTS GITHUB */
/* #quicklink2 REPRESENTS TWITTER */
/* #quicklink3 REPRESENTS LINKEDIN */

#quicklink1 {
    
    padding-left: 8px;
    padding-top: 0px;
    
    width: 32px;
    height: 32px;
    
    position: fixed;
    bottom: 8px;
    left: 0px;
    
    z-index: 2;

}

#quicklink2 {
    
    padding-left: 8px;
    padding-top: 0px;
    
    width: 32px;
    height: 32px;
    
    position: fixed;
    bottom: 8px;
    left: 40px;
    
    z-index: 2;
}

#quicklink3 {
    
    padding-left: 8px;
    padding-top: 0px;
    
    width: 32px;
    height: 32px;
    
    position: fixed;
    bottom: 8px;
    left: 80px;
    
    z-index: 2;
    
}

/* REPRESENTS TEXT AND ELEMENTS ON THE BODY OF THE SITE */
.body_text {
    
    padding-left: 186px;
    padding-right: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
    
}

h1 {
    
    text-align: center;
    font-size: 32px;
    
}

h2 {
    
    font-size: 24px;
    
}

/* ------------------------------------------------------ */

/* about.html */

/* REPRESENTS THE SELFIE IMAGE LOCATED ON THE ABOUT PAGE */

#selfie {
    
    width: 24%;
    height: auto;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    padding-top: 24px;
    
    border-radius: 15%;
    
}

@media screen and (max-width: 800px) {
    
    #selfie {
        
        width: 48%;
        
    }
    
}

/* ------------------------------------------------------ */

/* oftff_index.html */

/* REPESENTS THE SPLASH IMAGE LOCATED ON THE CAMPAIGN SCREEN. */

#splash {
    
    width: 100%;
    height: auto;
    
    padding-top: 16px;
    
}

/* ------------------------------------------------------ */

/* oftff_the_three_continents.html */

.athleney-overworld {

    width: 100%;
    height: auto;
    
    padding-top: 16px;
    border-radius: 50px;
    
}

/* ------------------------------------------------------ */

/* journal.html */

.left-column {

    float: left;
    padding-right: 8px;
    width: 45%;
    
}

.right-column {
    
    float: right;
    padding-right: 48px;
    width: 45%;
}

.fakeimg {
    
    background-color: #aaa;
    width: 90%;
    padding: 20px;
    
}

.placed-image {
    
    height: 250px;
    width: auto;
    
}

.card {
    
    background-color: #e0d0b9;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 8px;
    margin-bottom: 20px;
    
}

.popular {
    
    float: none;
    padding-right: 48px;
    
}

@media screen and (max-width: 800px) {
    
    .left-column, .right-column {
        
        float: none;
        width: 90%;
        padding-right: 48px;
        
    }
    
}


    