:root
{
    --webpage-shadow: #454236;
    --papaya-whip: #FDF0D5;
    --van-dyke-brown: #66462C;
    --gold-crayon: #DCC48E;
}

.about
{
    display: flex;
    flex-direction: column;
}

.about > h1
{
    font-size: clamp(2rem, 0.4762rem + 7.619vw, 2.5rem);
}

.about-container
{
    display: flex;
    flex-direction: column;
}

.about > .about-container > .about-left, .about > .about-container> .about-right {

    display: flex;
    flex-direction: column;
    place-content: center;
    flex-wrap: wrap;

}

.about > .about-container > .about-left > img {

    width: 100%;
    max-width: 403.75px;
    border-radius: 50%;
    margin: 16px 0;
    border: 0.5px solid var(--webpage-shadow);
    box-shadow: 0 0 8px 0 var(--webpage-shadow);

}

.about > .about-container > .about-right > p {

    font-size: clamp(1.5rem, -0.0238rem + 7.619vw, 2rem);

}

.about > .about-container > .about-right > .socials {

    display: flex;
    flex-direction: row;
    padding: 16px 0px 16px 0px;
    justify-content: space-between;

}

.about > .about-container > .about-right > .socials > a {

    font-size: 2.0rem;
    
}

@media screen and (min-width: 1440px) {

    .about-container {

        flex-direction: row;
        gap: 64px;

    }

    .about > .about-container > .about-left > img {

        width: 100vw;

    }

    .about > .about-container > .about-right > .socials {

        justify-content: left;
        gap: 32px;
    
    }


}