:root {

    --header-background: #776f55;
    --header-text: #ffffff;
    --body-background: #f5f5db;
    --papaya-whip: #FDF0D5;
    --body-text: #404040;
    --webpage-shadow: #454236;

    --papaya-whip: #FDF0D5;
    --van-dyke-brown: #66462C;
    --gold-crayon: #DCC48E;

}

* {

    box-sizing: border-box;

}

@font-face {
    font-family: "Scaremate";
    src: url("../../assets/scaremate-font/misc/Scarematehy\ Free\ Trial-baa7.woff2") format("woff2"),
         url("../../assets/scaremate-font/misc/Scarematehy\ Free\ Trial-a39a.woff") format("woff");
}

html {

    overflow-x: hidden;
    scroll-behavior: smooth;

}

body {
    font-family: 'Courier New', Courier, monospace;
    color: var(--black-coffee);
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/img-noise-1920x1080-papaya-whip.png");
}

main {

    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-height: 100vh;

}

section {

    display: flex;
    flex-direction: column;
    padding: 16px;
    max-height: 100%;

}

footer {

    height: 80px;
    background-color: var(--header-background);
    box-shadow: 0 0 32px 0;

}

h1 {

    font-size: 48px;
    margin: 16px 0 16px 0;

}

h2 {

    font-size: 36px;
    margin: 16px 0 16px 0;

}

h3 {

    font-size: 24px;
    margin: 8px 0 8px 0;

}

p {

    margin: 16px 0 16px 0;
    text-shadow: var(--body-text) 0px 0px 1px;
    font-size: clamp(1.25rem, 1rem + 1vw, 2.25rem);

}

a {

    text-decoration: none;
    color: var(--body-text);
    font-weight: bold;

}

a:hover {

    transition: 0.5s;
    color: #F9C784;

}

hr {

    border-bottom: 16px solid var(--van-dyke-brown);
    outline: 4px solid var(--papaya-whip);
    outline-offset: -8px;
    
    width: 100%;

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;

}

img
{
    display: block;
}

/* ------------------- */

.van-dyke-noise {

    background-image: url("../../assets/img-noise-1920x1080-van-dyke.png");

}

.inner-outline {

    outline: 4px solid var(--papaya-whip);
    outline-offset: -16px;

}

@media screen and (min-width: 768px) {

    section {

        margin: 0 15vw;

    }
    
}