:root {

    --papaya-whip: #FDF0D5;
    --van-dyke-brown: #66462C;
    --gold-crayon: #DCC48E;

}

header {

    z-index: 1;

}

header > nav {

    background-color: var(--papaya-whip);

    position: fixed;
    display: table;
    list-style: none;

    width: 100vw;

    border-bottom: 4px solid var(--van-dyke-brown);

}

header > nav > a {

    text-align: center;
    width: 20vw;
    padding: 24px 0;
    text-decoration: none;
    color: var(--van-dyke-brown);

}

header > nav > a:hover {

    background-color: var(--gold-crayon);
    color: white;

}